*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.container-fluid{
    font-family: 'Ubuntu';
    background-color: black;
    width: 100vw;
    color: #ffffff;
}
.iphoneXsAndMax{
    background-image: url(./images/0fcd8bec5b468c893dd3516ce2d5177e.png);
    width: 100vw;
    height: 120vh;
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}



.iphoneXsAndMaxHeadding{
    color: #eed490;
    font-size: 65px;
    margin-top: 60px;
    width: 700px;
    font-weight: 300;
    
}
.iphoneXsAndMaxPara{
    color: #ffffff;
    padding: 10px;
    font-size: 25px;
}
.iphoneXsAndMaxlightText{
    color:rgba(255,255,255, 0.1);
    font-weight: 100;
    margin-top: 20px;
    width: 600px;
}
/* 2ndpage */
.DifferenceBetweenXsAndMax{
    background-image: url('./images/1918d98345e59d0d01ee87ca1b030128.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-end;
    
}
.DifferenceBetweenXsAndMax div{
    padding: 0 100px 44px 0;
    margin: 0;
}
.DifferenceBetweenXsAndMaxHeadding{
    color: #eed490;
    font-size: 45px;
    font-weight: 300;
    width: 433px;
    text-align: right;
    margin: 0;
    padding: 0 0 0 0;

}
.DifferenceBetweenXsAndMaxPara{
    color: #ffffff;
    font-size: 15px;
    width: 433px;
    text-align: right;
    margin: 0;
    padding: 20px 0 20px 0;
}

/* 3rdpage */

.description{
    width: 100vw;
    color: #ffffff;
    padding: 50px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}


.descriptionLeftInner h3,.descriptionLeftInnerNext h3,.descriptionRightInner h3,.descriptionRightNext h3{
    width: 200px;
    font-size: 30px;
    padding:10px;
 font-family: 'Ubuntu';
 font-weight: 300;
}
.descriptionLeftInner p,.descriptionLeftInnerNext p,.descriptionRightInner p,.descriptionRightNext p{
 width: 450px;
 font-family: 'Ubuntu';
 padding: 10px;
 font-weight: 300;
 text-align: left;

}
.descriptionRightInnerNext ul{
    font-family: 'Ubuntu';
    list-style-position:inside;
    padding: 50px 0 0 10px;
}
.descriptionLeft{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.descriptionRight{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

/* 4thpage */

.mobileImages{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: #ffffff;
    font-family: 'Ubuntu';
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.mobileImages div img{
    width: 95%;
    height: 60%;
}
.mobileImages div img[class~="xsMaxImage"]{
    width: 95%;
    height: 55%;
    margin-top: 25px;
}
.mobileImages h2{
    text-align: center;
 font-size: 30px;
font-weight: 300;
padding: 20px 0 10px 0;
}
.mobileImages p{
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}

/* 5thpage */

.exceptionalMaterial{
    background-image: url('./images/67bd5b492602e5b09bfd6870cc191d1a.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.exceptionalMaterialMain{
    width: 600px;
    
}
.exceptionalMaterial div h2{
    color: #eed490;
    font-size: 45px;
    font-weight: 300;
    padding: 10px;
}
.exceptionalMaterial div h3{
    color: #eed490;
    font-size: 25px;
    font-weight: 300;
    padding: 10px;
}
.exceptionalMaterial div p{
padding: 10px;
}
.exceptionalMaterialDetails{
    padding-top: 40px;
    width: 550px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
}
p{
    word-spacing: 2px;
}

/* 6th page */
.advancedFaceIdOuter{
    height: 120vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.advancedFaceId{
    /* background-image: url('./images/aefa4a2923daa7d3b8b6acf030b2478b.jpeg'); */
    height: 100vh;
    width: 100vw;
    /* background-size: cover;
    background-position: right; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.advancedFaceIdData{
    width: 550px;
    position: relative;
    left:100px;
    top: -109px;
}
.advancedFaceIdData h2{
    font-size: 45px;
    font-weight: 300;
    padding: 10px;
}
.advancedFaceIdData h3{
    font-size: 25px;
    font-weight: 300;
    padding: 10px;
}
.advancedFaceIdData p{
  padding: 10px;
}
.advancedFaceIdDataImg{
background-image: url('./images/aefa4a2923daa7d3b8b6acf030b2478b.jpeg');
background-size: cover;

height: 100vh;
width: 100vw;
padding: 0;
margin: 0;
}

/* 7thpage */

.noOtherPhoneLikeIphone{
    background-image: url(./images/7079c042b613bd4f735e18989b0a030a.png);
    height: 120vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.noOtherPhoneLikeIphone h2{
    color: #eed490;
    font-size: 65px;
    margin-top: 60px;
    width: 500px;
    font-weight: 300;
    text-align: center;
    padding: 10px;
    
}
.everyDecision{
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    width: 550px;
}
.fromtheway{
    color:rgba(255,255,255, 0.1);
    font-weight: 100;
    margin-top: 20px;
    width: 650px;
    text-align: center;
    padding: 10px;
}


/* page8 */
.footer{
    background-size: cover;
    /* height: 150vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerFirstLine{
    display: flex;
    padding: 0 20px;
}
.footerSecondLine{
    display: flex;
    padding: 0 20px;
}
.footerFirstLine img{
    width: 300px;
    height: 300px;
}
.footerSecondLine img{
    width: 300px;
    height: 300px;
}   
.empty{
    width: 100vw;
    height: 150px;
}



@media screen and (max-width: 992px) { 
    /* 1stpage */
    
    .iphoneXsAndMaxHeadding{
        width: 450px;
    }
    .iphoneXsAndMaxlightText{
        width: 333px;
    }
/* 2ndpage */
.DifferenceBetweenXsAndMax div{
    padding: 0 100px 44px 0;
    margin: 0;
}

.DifferenceBetweenXsAndMaxHeadding{
    width: 400px;
    text-align: right;
    padding: 0px 0px 0 0;
    margin: 0;

}
.DifferenceBetweenXsAndMaxPara{
    width: 400px;
    text-align: right;
    padding: 20px 0px 0 0;
    margin:0;
}
/* 3rdpage */

.descriptionLeftInner h3,.descriptionLeftInnerNext h3,.descriptionRightInner h3,.descriptionRightNext h3{
    width: 200px;
    font-size: 30px;
    padding:10px;
 font-family: 'Ubuntu';
 font-weight: 300;
}
.descriptionLeftInner p,.descriptionLeftInnerNext p,.descriptionRightInner p,.descriptionRightNext p{
 width: 350px;
 font-family: 'Ubuntu';
 padding: 10px;
 font-weight: 300;
 text-align: left;

}
.descriptionRightInnerNext ul{
    width: 405px;
    padding: 69px 0 0 0;
}

/* 4thpage */
/* 5thpage */
.exceptionalMaterial{
    padding-left: 50px;
}

.exceptionalMaterialMain{
    width: 550px;
    
}
.exceptionalMaterial div h2{
    color: #eed490;
    font-size: 45px;
    font-weight: 300;
    /* padding: 10px; */
    /* width: fit-content; */
}
.exceptionalMaterial div h3{
    color: #eed490;
    font-size: 25px;
    font-weight: 300;
    padding: 10px;
}
.exceptionalMaterial div p{
padding: 10px;
}
.exceptionalMaterialDetails{
    padding-top: 40px;
    width: 420px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
}

/* 6thpage */

/* 7thpage */
/* 8thpage */
.footerFirstLine img{
    width: 240px;
    height: 350px;
}
.footerSecondLine img{
    width: 240px;
    height: 350px;
} 





}
@media screen and (max-width: 768px) { 
    /* 1stpage */
    .iphoneXsAndMaxHeadding{
        width: 470px;
    }
    .iphoneXsAndMaxlightText{
        width: 333px;
    }
    .iphoneXsAndMaxEmpty{
        display: none;
    }

/* 2ndpage */
.DifferenceBetweenXsAndMax div{
    padding: 0 70px 44px 0;
    margin: 0;
}

.DifferenceBetweenXsAndMaxHeadding{
    width: 561px;
    text-align: right;
    padding: 0px 0px 0 110px;
    margin: 0;

}
.DifferenceBetweenXsAndMaxPara{
    width: 561px;
    text-align: right;
    padding: 20px 0px 0 110px;
    margin:0;
}
/* 3rdpage */

.description{
    padding: 0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}
.descriptionLeftInner h3,.descriptionLeftInnerNext h3,.descriptionRightInner h3,.descriptionRightNext h3{
    width: fit-content;
}
.descriptionLeftInner p,.descriptionLeftInnerNext p,.descriptionRightInner p,.descriptionRightNext p{
    width: fit-content;
}
.descriptionRightInnerNext ul{
    width: fit-content;
}

/* 4thpage */

.mobileImages{
    /* margin: 0; */
    padding: 0;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mobileImages div img{
    width: 241px;
    height: 456px;
    align-items: center;
}
.mobileImages div img[class~="xsMaxImage"]{
    width: 221px;
    height: 456px;
    margin-top: 0px;
}
.mobileImages p{
margin-bottom: 80px;
}
/* 5thpage */

.exceptionalMaterial{
    padding-left: 50px;
    height: 150vh;
}

.exceptionalMaterialMain{
    width: 340px;
    
}
.exceptionalMaterial div h2{
    color: #eed490;
    font-size: 45px;
    font-weight: 300;
    padding: 10px;
}
.exceptionalMaterial div h3{
    color: #eed490;
    font-size: 25px;
    font-weight: 300;
    padding: 15px 10px;
}
.exceptionalMaterial div p{
padding: 10px;
}
.exceptionalMaterialDetails{
    padding-top: 0px;
    width: 340px;
    display:flex;                                                                                           
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
/* 6thpage */

.advancedFaceId{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.advancedFaceIdData{
    
    position: static;
    padding-left: 50px;
    
}
.advancedFaceIdDataImg{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: left;
}

/* 7thpage    */
.noOtherPhoneLikeIphone{
    height: 170vh;
}
.noOtherPhoneLikeIphone h2{
    margin-top: 90px;
    width: 400px;
    text-align: center;
    padding: 10px;
    
}
.everyDecision{
    text-align: center;
    padding: 10px;
    width: 350px;
}
.fromtheway{
    margin-top: 20px;
    width: 350px;
    text-align: center;
    padding: 10px;
}

/* 8thpage */
.footerFirstLine{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.footerSecondLine{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.footerFirstLine img{
    width: 540px;
    height: 346px;
}
.footerSecondLine img{
    width: 540px;
    height: 346px;
} 







}
@media screen and (max-width: 576px) { 
    /* 1stpage */
    .iphoneXsAndMax{
        height: 140vh;
    }
    
    .iphoneXsAndMaxHeadding{
        font-size: 50px;
        width: 300px;
    }
    .iphoneXsAndMaxlightText{
        width: 290px;
    }
    .iphoneXsAndMaxEmpty{
        display: none;
    }
/* 2ndpage */
.DifferenceBetweenXsAndMax{
    height: 150vh;
}
.DifferenceBetweenXsAndMax div{
    padding: 0 30px 44px 0;
    margin: 0;
    /* width: 330px; */
}

.DifferenceBetweenXsAndMaxHeadding{
    width: 318px;
    text-align: right;
    padding: 0px 0px 0 0;

}
.DifferenceBetweenXsAndMaxPara{
    width: 322px;
    text-align: right;
    padding: 20px 0px 0 0;
    margin:0;
    word-spacing: 1px;
}
/* 3rdpage */

/* 4thpage */

.mobileImages div img{
    width: 223px;
    height: 456px;
    align-items: center;
}
.mobileImages div img[class~="xsMaxImage"]{
    width: 199px;
    height: 405px;
    margin-top: 0px;
}
/* 5thpage */

.exceptionalMaterialMain{
    width: 300px;
    
}

.exceptionalMaterialDetails{
    padding-top: 0px;
    width: 300px;
}

/* 6thpage */

.advancedFaceIdData{
    width:300px;
    padding-left:0;
    margin: 0;
}
.advancedFaceId{
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 0;
    margin: 0;
}
/* 7thpage */

.noOtherPhoneLikeIphone{
    height: 130vh;
}
.noOtherPhoneLikeIphone h2{
    margin-top: 0px;
    width: 300px;
    padding: 10px;
    font-size: 50px;
    
}
.everyDecision{
    width: 300px;
}
.fromtheway{
    margin-top: 20px;
    width: 300px;
    text-align: center;
    padding: 10px;
}
/* 8thpage */
/* 8thpage */
.footerFirstLine{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.footerSecondLine{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.footerFirstLine img{
    width: 300px;
    height: 310px;
    
}
.footerSecondLine img{
    width: 300px;
    height: 310px;

} 

}